@media only screen and (max-width: 2560px) and (min-width: 1441px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: 0.5vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 50vw; /* Full width for project cards */
        margin-left: 0vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 50vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: -22.9vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 90vw; /* Full width for project cards */
        margin-left: -24vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 90vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Styles for screens 1024px to 1440px */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: -22.5vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 90vw; /* Full width for project cards */
        margin-left: -24vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 90vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Styles for screens 768px to 1024px */
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: -22vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 90vw; /* Full width for project cards */
        margin-left: -24vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 90vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Styles for screens 425px to 768px */
@media only screen and (max-width: 425px) and (min-width: 376px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: -22vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 90vw; /* Full width for project cards */
        margin-left: -26vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 90vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Styles for screens 375px to 425px */
@media only screen and (max-width: 375px) {
    .content-container {
        max-width: 100vw; /* Full width on small screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem; /* Maintain readable font size */
        margin-left: -19vw; /* Adjust margin for centering */
    }

    .project-date {
        padding: inherit; /* Keep padding consistent */
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 90vw; /* Full width for project cards */
        margin-left: -23vw; /* Adjust margin for centering */
    }

    .project-content-text {
        padding-top: 0; /* No top padding */
        width: 90vw; /* Make content text responsive */
    }

    .project-image {
        display: none; /* Hide images on very small screens */
    }

    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Styles for screens 320px to 375px */
@media only screen and (max-width: 320px) {
    .content-container {
        max-width: 100vw; /* Full width on the smallest screens */
        padding: 1vh; /* Add padding for small screens */
    }

    .title-text {
        font-size: 2.2rem;
        margin-left: -16vw;
    }
    
    .project-date {
        padding: inherit;
    }

    .project-card {
        padding: 1vh; /* Less padding for small screens */
        width: 100vw;
        margin-left: -21vw;
    }

    .project-content-text {
        padding-top: 0;
        width: 95vw;
    }

    .project-image {
        display: none;
    }
    
    .project-features-list {
        margin-left: 0; /* Center features list */
        padding-left: 0; /* Remove padding */
    }
}

/* Centering main container */
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    width: 100%;
}

/* Limiting the max width and arranging content vertically */
.content-container {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
}

/* Aligning title text to center */
.title-text {
    align-self: center;
}

/* Margin for the main content section */
.main-content {
    margin-top: 1.5vh;
}

/* Project card styling */
.project-card {
    margin-top: 1vh;
    padding: 1.5vh;
}

/* Header text styling */
.project-header-text {
    font-weight: bold;
}

/* Project date alignment */
.project-date {
    margin-left: auto;
}

/* Role styling with spacing adjustments */
.project-role {
    padding-top: 0;
    padding-bottom: 0;
}

/* Content text styling */
.project-content-text {
    padding-top: 0;
}

/* List styling for project features */
.project-features-list {
    list-style: disc;
    margin-left: 1vw;
}

/* Image styling */
.project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    margin-right: 1vw;
    height: fit-content;
    width: 104%;
}
