.nav {
    /*transform: translate(-3.5vw, 0px);*/
    border-radius: 1.1rem;
    border: 1px solid #3f3f3f;
    margin-bottom: 0.4%;
    z-index:-1;
    max-width: fit-content;
}

.nav-button {
    border: solid 1px #3f3f3f;
    border-radius: 0.6rem;
    padding: 4px 9px 4px 20px !important;
    margin: 0px 5px 0px 5px !important;
    min-width: auto !important;
    max-width: 30px !important;
    width: auto !important;
    height: auto !important;
}

.nav-seperator {
    border-left: 1px solid #3f3f3f;
    height: 20px;
    margin-top: 3.2%;
}

.nav-item {
    background-color: transparent;
}