I’ve had the chance to dive into some pretty cool projects that really highlight my skills in automation and cloud tech. From streamlining processes to building adaptable cloud setups, each one has pushed me to find creative, effective solutions. Working with complex systems and new tech has given me hands-on experience in making software that’s efficient, scalable, and easy to use.<br/><br/>

<ul style="list-style-type:disc; margin-left:2.5%">
    <li><b>Datalab VM Request Automation (2024):</b> A system that automates virtual machine provisioning, significantly improving operational efficiency.</li>
    <li><b>Airline Booking System (2023):</b> Noteworthy for its headless GUI testing capabilities using a mock console and a custom WebSocket server built from scratch with C#/ASP.</li>
    <li><b>PostForward (2023):</b> A flexible adapter service for routing HTTP POST requests, useful in various deployment scenarios.</li>
    <li><b>serverless-aws-gcp (2022):</b> My first experience implementing Google Cloud Platform (GCP) and AWS, which I managed to integrate swiftly and effectively.</li>
</ul>
<br/>
For more details, you can go to <a href="projects">my projects page</a> to get the full scoop on these projects and others, plus a look at some of the solutions I’ve built along the way!