@page "/about"
<link href="css/About.css" rel="stylesheet">

<PageTitle>About Me</PageTitle>

<div class="about-container">
    <div class="about-content">

        <!-- Avatar and Location Information Section -->
        <div class="about-avatar-section">
            <!-- Avatar and Spacer Column -->
            <div class="about-avatar-column">
                <MudAvatar Class="about-avatar">
                    <MudImage Src="images/jpg/ruben.jpg" Alt="Ruben Flinterman" style="width: 100%; height: 100%; object-fit: cover;"></MudImage>
                </MudAvatar>
                <div class="about-location">
                    <MudIcon Icon="@Icons.Material.Outlined.LocationOn" Size="Size.Small" Class="about-location-icon" />
                    <MudText Typo="Typo.subtitle1">Europe/Rotterdam</MudText>
                </div>

                <!-- Empty Space for Additional Details -->
                <div style="height: 300px;"></div> <!-- Adjust height as needed -->
            </div>

            <!-- Main Content Column -->
            <div class="about-main-column">
                <MudText Typo="Typo.h2" Class="about-heading">
                    <b>Ruben Flinterman</b>
                </MudText>
                <MudText Typo="Typo.h4" Class="about-subheading">Software Developer</MudText>
                <div class="social-buttons">
                    <MudButton Variant="Variant.Filled"
                               StartIcon="@Icons.Custom.Brands.GitHub"
                               IconColor="Color.Primary"
                               Size="Size.Medium"
                               Href="https://github.com/RFlintstone/"
                               Target="_blank"
                               Class="social-button">GitHub</MudButton>
                    <MudButton Variant="Variant.Filled"
                               StartIcon="@Icons.Custom.Brands.LinkedIn"
                               IconColor="Color.Primary"
                               Size="Size.Medium"
                               Href="https://www.linkedin.com/in/ruben-flinterman/"
                               Target="_blank"
                               Class="social-button">LinkedIn</MudButton>
                </div>

                <!-- Main Content Text -->
                <div class="about-text">
                    <br/>
                    <MudText Typo="Typo.body1">
                        I’m Ruben Flinterman, a Computer Science student based in Rotterdam, Netherlands. Currently, I’m focused on my studies at Rotterdam University of Applied Sciences.
                        <br/>
                        Previously, I worked as a software developer and student researcher at Datalab Rotterdam and Chemical Engineering. Both at Datalab and Chemical Engineering, I developed custom software to automate and scale repetitive tasks. During my time at Chemical Engineering, I also co-authored a research paper that is yet to be published.
                        <br/>
                        In 2019, 2022, and 2023, I participated in some competitions with friends, which led to us winning a few cool prizes. I also have a few personal projects that I’m working on in my free time.
                    </MudText>
                </div>

                <!-- Notable Projects Section -->
                <div class="projects-section">
                    <MudText Typo="Typo.h3" Class="project-heading">
                        <b>Notable Projects</b>
                    </MudText>
                    <table class="project-table">
                        <tr>
                            <td class="project-space-column">
                                <MudText Typo="Typo.h5" Class="project-heading">ProjectsIncluded</MudText>
                            </td>
                            <td class="project-space-column">&nbsp;</td> <!-- Space column -->
                            <td>
                                <MudText Typo="Typo.body1">2024 - Current</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="project-role">
                                <MudText Typo="Typo.subtitle1">Founder</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="project-item">
                                <MudText>Creating a scaling as a service platform which includes:</MudText>
                                <ul class="project-list">
                                    <li><MudText Typo="Typo.body1">ASP.NET Core.</MudText></li>
                                    <li><MudText Typo="Typo.body1">Custom CLI.</MudText></li>
                                    <li><MudText Typo="Typo.body1">CI/CD intergration with a highly scalable Kubernets cluster.</MudText></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="project-date project-space-column">
                                <MudText Typo="Typo.h5" Class="project-heading">FlareHTTP</MudText>
                            </td>
                            <td class="project-space-column">&nbsp;</td> <!-- Space column -->
                            <td>
                                <MudText Typo="Typo.body1">Jan. 2024 - Sept. 2024</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="project-role">
                                <MudText Typo="Typo.subtitle1">Developer</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="project-item">
                                An attempt to simplify setting up a connection with Google Firebase
                                <ul class="project-list">
                                    <li><MudText Typo="Typo.body1">ExpressJS and Tailwind CSS.</MudText></li>
                                    <li><MudText Typo="Typo.body1">Google's Cloud Firestore.</MudText></li>
                                    <li><MudText Typo="Typo.body1">CI/CD to deploy images regularly</MudText></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
