@page "/"
<link href="css/Home.css" rel="stylesheet">

<PageTitle>Home</PageTitle>

<div class="page-container">
    <div class="intro-text-container">
        <MudText Typo="Typo.h2" Class="intro-heading">
            <b>Software engineer by day,<br/>creative by night.</b>
        </MudText>
        <MudText Typo="Typo.h5" Class="intro-subheading">
            Building skills with every line of code.
        </MudText>
    </div>

    <div class="chip-container">
        <MudChip T="string" Size="Size.Large" Href="about">
            <AvatarContent>
                <MudAvatar>
                    <MudImage Src="images/jpg/ruben.jpg"></MudImage>
                </MudAvatar>
            </AvatarContent>
            <ChildContent>
                About Me
                <MudIcon Icon="@Icons.Material.Sharp.KeyboardArrowRight" Size="Size.Medium" Title="Favorite" />
            </ChildContent>
        </MudChip>
    </div>
</div>

@* <MudGrid Spacing="6" Justify="Justify.Center" Style="margin-top: 0px; margin-bottom: 10px;"> *@
@*     <MudItem> *@
@*         <MudPaper Height="85vh" Width="15vw" Class="d-flex flex-column align-center" Style="padding-top: 30px;"> *@
@*             <MudAvatar Style="height:140px; width:140px; font-size:3rem;" Color="Color.Primary"> *@
@*                 @if (AvatarRubenExists) *@
@*                 { *@
@*                     <MudImage Src="images/ruben.jpg" Alt="Ruben Flinterman"/> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <span>RF</span> *@
@*                 } *@
@*             </MudAvatar> *@
@*             <MudText Typo="Typo.h6" Align="Align.Center" Class="mt-2" Color="Color.Primary">Ruben Flinterman</MudText> *@
@*             <div class="d-flex justify-center align-center flex-wrap"> *@
@*                 <MudChip T="string" Label="true" Size="Size.Small">Full-Stack Developer</MudChip> *@
@*                 <MudChip T="string" Label="true" Size="Size.Small">Student</MudChip> *@
@*             </div> *@
@*             <div> *@
@*                 <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" href="https://github.com/RFlintstone/" Target="_blank"/> *@
@*                 <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Primary" aria-label="github" href="https://www.linkedin.com/in/ruben-flinterman/" Target="_blank"/> *@
@*             </div> *@
@*         </MudPaper> *@
@*     </MudItem> *@
@* *@
@*     <MudItem> *@
@*         <MudPaper Height="85vh" Width="60vw" Class="d-flex flex-column justify-left align-start flex-wrap" Style="padding-top: 10px; padding-left: 25px;"> *@
@* *@
@*             <div Style="width: 55vw; padding-top: 10px;"> *@
@*                 <MudText Typo="Typo.h5" Align="Align.Left" Class="mt-2" Color="Color.Primary"><b># About Me</b></MudText> *@
@*                 <MudText Typo="Typo.body1" Align="Align.Left" Class="mt-2" Color="Color.Primary" Style="display: inline; white-space: normal; word-wrap: break-word; overflow-wrap: break-word;"> *@
@*                     <AboutMe/> *@
@*                 </MudText> *@
@*             </div> *@
@* *@
@*             <div Style="width: 55vw; padding-top: 20px;"> *@
@*                 <MudText Typo="Typo.h5" Align="Align.Left" Class="mt-2" Color="Color.Primary"><b># My Skills</b></MudText> *@
@*                 <MudText Color="Color.Primary">I'm familiar with the following languages, not in any particular order:</MudText> *@
@*                 <div class="d-flex justify-left align-left flex-wrap"> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">C</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">C#</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">C++</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">CSS3</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">HTML5</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">Java</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">Javascript</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">PHP</MudChip> *@
@*                     <MudChip T="string" Label="true" Size="Size.Small">Typescript</MudChip> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div Style="width: 55vw; padding-top: 20px;"> *@
@*                 <MudText Typo="Typo.h5" Align="Align.Left" Class="mt-2" Color="Color.Primary"><b># Projects</b></MudText> *@
@*                 <MudText Typo="Typo.body1" Align="Align.Left" Class="mt-2" Color="Color.Primary" Style="display: inline; white-space: normal; word-wrap: break-word; overflow-wrap: break-word;"> *@
@*                     <MyProjects/> *@
@*                 </MudText> *@
@*             </div> *@
@*         </MudPaper> *@
@*     </MudItem> *@
@* </MudGrid> *@
@* *@
@* @code { *@
@*     private bool AvatarRubenExists { get; set; } *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         AvatarRubenExists = await CheckImageExistsAsync("images/ruben.jpg"); *@
@*     } *@
@* *@
@*     private Task<bool> CheckImageExistsAsync(string relativePath) *@
@*     { *@
@*         var imagePath = Path.Combine(WebHostEnvironment.ContentRootPath, Path.Combine("wwwroot", relativePath)); *@
@*         return Task.FromResult(File.Exists(imagePath)); *@
@*     } *@
@* } *@